h1 {
  text-align: center;

}

body{
  background-image:url('');
  background-repeat:no-repeat;
  background-size:cover;
}

.buttons, .toggle-buttons {
  text-align: center;
}

#pokemon-row, #mtg-row {
  display: none;
}

